.content_div{
    padding:30px;
}
.add_tab_div{
    overflow: hidden;
}
.add_tab_div > input{
    border:none;
    float:left;
    width:auto;
}
.add_tab_div > input:focus{
    color: #495057;
    background-color: #fff;
    border-color:transparent;
    outline: none;
    box-shadow: none;
}
.tab{
    padding:5px 10px;
    background:black;
    color:white;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab > i{
    color:red;
    margin-left:10px;
}